@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
--small-font: 15px;
--big-font:70px;
--medium-font:40px;
--icon-size: 23px;
--black-color:black;
--white-color:white;
--red-color:#FF5959;
--dark-red-color: #dc3535;
--white-grey:rgb(248, 248, 248);
}


.light-theme{
--white-color:white;
--black-color:black;
--red-color:#FF5959;
--dark-red-color: #dc3535;
--white-grey:rgb(248, 248, 248);

}


.dark-theme{
--white-color:black;
--black-color:white;
--red-color:#FF5959;
--dark-red-color: #dc3535;
--white-grey:rgb(13, 12, 12);

}


body{
    background-color: var(--white-color);
}

a, li{
    text-decoration: none;
    list-style: none;
}


/******************* Cart Page ******************/
.container{
    padding: 8vw 8vw;
    display: flex;
    justify-content: center;
    background-color: var(--white-grey);
}
.cart{
    display: grid;
    grid-template-columns: 1fr 50px 80px 30px;
    gap: 5px;
    border: var(--black-color) 1px solid;
    padding: 20px;
    width: 500px;
    color: var(--black-color);
}
.item{
    display: grid;
    grid-template-columns: 1fr 50px 50px 50px;
    gap: 5px;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 10px 20px;
    border: var(--black-color) 1px solid;
    color: var(--black-color);
    margin-bottom: 10px;
}
.item .product{
    display: grid;
    grid-template-columns: 100px 100px;
    align-items: center;
    text-align: center;
    width: 100%;
    color: var(--black-color);
}
.product-quan{
    align-items: center;
    text-align: center;
    color: var(--black-color);
}
.head button{
    padding: 10px;
    background-color: var(--red-color);
    border: none;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
}
.head{
    margin-bottom: 50px;
}

.bottom .subtotal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    text-align: right;
    border: var(--black-color) 1px solid;
    color: var(--black-color);
}
.bottom .total_price{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    text-align: right;
    border: var(--black-color) 1px solid;
    color: var(--black-color);
    margin-bottom: 10px;
}
.bottom button{
    padding: 10px;
    background-color: var(--red-color);
    border: none;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
}