@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --small-font: 15px;
    --big-font: 70px;
    --medium-font: 40px;
    --icon-size: 23px;
    --white-color: white;
    --white-grey: rgb(248, 248, 248);
    --black-color: black;
}


.light-theme {
    --white-color: white;
    --black-color: black;
    --red-color: #FF5959;
    --dark-red-color: #dc3535;
    --white-grey: rgb(248, 248, 248);

}


.dark-theme {
    --white-color: black;
    --black-color: white;
    --red-color: #FF5959;
    --dark-red-color: #dc3535;
    --white-grey: rgb(13, 12, 12);

}


body {
    background-color: var(--white-color);
}

a,
li {
    text-decoration: none;
    list-style: none;
}

/* Dashboard Home */
.dashboard_head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8vw 8vw 2vw 8vw;
    text-align: left;
    align-items: center;
}

.dashboard_head .das_left {
    color: var(--black-color);
}

.das_left img {
    border-radius: 50%;
    width: 70px;
    margin-bottom: 10px;
}

.das_left p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.das_left h2 {
    font-weight: 600;
    width: 450px;
    font-size: 40px;
    line-height: 45px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.das_left button {
    padding: 8px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    font-weight: 500;
}

.das_left button i {
    margin-right: 4px;
    font-size: 15px;
}

.das_left .das_btn1 {
    background-color: #fff;
    border: 1px solid rgb(190, 190, 190);
    margin-right: 15px;
}

.das_left .das_btn2 {
    background-color: #FF5959;
    color: #fff;
}

.das_right div {
    background: #FF4F5A;
    position: absolute;
    top: -40px;
    right: 0;
    width: 25%;
    height: 60%;
}

.das_right img {
    position: relative;
    width: 100%;
    max-width: 578px;

}


.section_container {
    padding: 0vw 8vw;
}

.section_ul {
    display: flex;
    width: 100%;
    padding: 30px 0;
    scroll-behavior: smooth;
    font-weight: 500;
}

.section_ul li {
    margin-right: 30px;
}

.section_ul li a .count {
    color: #AEAEAE;
}

.dashboard_body {
    padding: 2vw 8vw 2vw 8vw;
}


.dashboard_body .content_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 45px;
    margin-bottom: 45px;
}

.overlay_container{
    position: relative;
    overflow: hidden;
}

.content img {
    border-radius: 10px;
    width: 100%;
}

.dashboard_body .content_container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 45px;
    align-items: center;
}

.content2 img {
    border-radius: 10px;
    width: 100%;
}

.content_overlay div{
    font-size: 19px;
    font-weight: 500;
}
.content_overlay ul li{
    display: inline-block;
    font-size: var(--icon-size);
    margin-right: 10px;
    padding: 0 9px 0 9px;
    background-color: #fff;
    border-radius: 5px;
}

.content_overlay {
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
    -ms-flex-align: end;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    border-radius: 8px;
    opacity: 0;
    background: linear-gradient(180deg, transparent 62%, rgba(0,0,0,0.00345888) 63.94%, rgba(0,0,0,0.014204) 65.89%, rgba(0,0,0,0.0326639) 67.83%, rgba(0,0,0,0.0589645) 69.78%, rgba(0,0,0,0.0927099) 71.72%, rgba(0,0,0,0.132754) 73.67%, rgba(0,0,0,0.177076) 75.61%, rgba(0,0,0,0.222924) 77.56%, rgba(0,0,0,0.267246) 79.5%, rgba(0,0,0,0.30729) 81.44%, rgba(0,0,0,0.341035) 83.39%, rgba(0,0,0,0.367336) 85.33%, rgba(0,0,0,0.385796) 87.28%, rgba(0,0,0,0.396541) 89.22%, rgba(0,0,0,0.4) 91.17%);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
}
.content_overlay:hover{
    opacity: 1;
}