
* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    text-decoration: none;
  }

  :root{
    --small-font: 15px;
    --big-font:70px;
    --medium-font:40px;
    --icon-size: 23px;
    --white-color:white;
    --white-grey:rgb(248, 248, 248);
    --red-color:#FF5959;
    --button-red-color:#ffe2e2;
    --black-color:black;
  }


  .light-theme{
    --white-color:white;
    --black-color:black;
    --red-color:#FF5959;
    --dark-red-color: #dc3535;
    --white-grey:rgb(248, 248, 248);
    --button-red-color:#ffe2e2;

  }


  .dark-theme{
    --white-color:black;
    --black-color:white;
    --red-color:rgb(255, 191, 0);
    --dark-red-color: #dc3535;
    --white-grey:rgb(13, 12, 12);
    --button-red-color:#484847;
    
  }


  body{
    background-color: var(--white-color);
  }



  /* =================================== main body ======================================= */
  #main-body{
    display: grid;
    height: 95vh;
    width: 100%;
    position: relative;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 60px;
}



#main-body::before{
    background-image:url(/imges/bg.png);
    height: 95vh;
    width: 100%;
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    inset: 0;
    opacity: 0.2;
    animation: bgchange 20s linear infinite;
}

  
  @keyframes bgchange{
    0%{
        background-image: url(/images/bg.png);
    }
  
    10%{
        background-image: url(/images/bag\ \(2\).jpg);
    }
  
    15%{
      background-image: url(/images/bag\ \(2\).jpg);
    }
  
    20%{
      background-image: url(/images/bag\ \(3\).jpg);
    }
  
    25%{
      background-image: url(/images/bag\ \(3\).jpg);
    }

  }




#main-body h2, h1, p, input, button{
    isolation: isolate;
}

#main-body h1 {
    font-size: var(--big-font);
}

#main-body input {
    width: 100%;
    padding: 10px 50px;
    margin-top: 30px;
    border: none ;
    outline: none;
    border-radius: 10px;
}


.button-input{
    display: flex;
    text-align: center;
    gap: 5px;

}

.button-input button i{
    padding: 0;
}


button {
    padding: 15px 20px;
    margin-top: 30px;
    color: white;
    background-color:var(--red-color);
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

button:hover{
    background-color:#dc3535;
    transition: all ease-in-out 0.5s;
}

.span{
    margin-top: 50px;
    isolation: isolate;
}
#main-body span{
    text-align: center;
    margin-right: 20px;
    padding: 10px 50px;
}

#main-body p{
  color: white;
}

.register{
    border:var(--red-color) solid 2px;
    color: white;
    cursor: pointer;
}

.register:hover{
    color: var(--red-color);
    transition: all ease-in-out 0.5s;
    font-weight: 500;
}


.login{
    border:var(--red-color) solid 2px;
    color: white;
    cursor: pointer;
}

.login:hover{
    color: var(--red-color);
    transition: all ease-in-out 0.5s;
    font-weight: 500;
}


/* ========================== AFTER BODY 1 ================================= */

#after-body1{
    padding: 100px 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--white-grey);
    
}

#after-body1 img{
    width: 100%;
    border-radius: 20px;
}

.after1-flex h3{
    font-size: 20px;
    color: grey;
    font-weight: 500;
}

.after1-flex h1{
    font-size:var(--medium-font) ;
    color: var(--red-color);
}

.after1-flex p{
    font-size:var(--small-font);
    text-align: justify;
    line-height: 30px;
    padding-top: 20px;
    color: var(--black-color);
}



/* ========================== AFTER BODY 1 ================================= */

#after-body2{
    padding: 100px 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
}

#after-body2 img{
    width: 100%;
}

.after2-flex h3{
    font-size: 20px;
    color: grey;
    font-weight: 500;
}

.after2-flex h1{
    font-size:var(--medium-font) ;
    color: var(--red-color);
}

.after2-flex p{
    font-size:var(--small-font);
    text-align: justify;
    line-height: 30px;
    padding-top: 20px;
    color: var(--black-color);
}





/* ==================== collections ============================== */

#collections{
    padding: 30px 10%; 
    justify-items: center;
    background-color: var(--white-grey);
}

.collect1{
    text-align: center;
    padding-bottom: 30px;
    color: var(--black-color);
    padding-top: 50px;
}


.collect1 h1{
    font-size: var(--medium-font);
    color: var(--red-color);
}

.collect2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}


.collect2-body{
    background-color: var(--white-grey);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.collect2-body:hover{
    transform: scale(0.9);
    transition: all ease-in-out 0.5s;
}
.collect2 img{
    width: 100%;
    border-radius: 10px 0 10px 0;
}


.collect2-body .p_des{
    display: flex;
    gap: 120px;
    padding: 50px 20px;
    padding-left: 40px;
    color: var(--black-color);
}

.uil-object-ungroup, .uil-layer-group{
    font-size: 20px;
    color: var(--red-color);
}


#collections button{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    width: 200px;
    margin-top: 50px;
    font-size: 16px;

}


/* ========================== show-case ============================= */
.show-case{
    text-align: center;
    padding: 100px 10%; 
    background-color: var(--white-color);
    margin-top: 60px;
}

.show-case h1, p{
    color: var(--black-color);
}

.show-case h1{
    font-size: var(--medium-font);
    padding-bottom: 30px;
    padding-top: 10px;
    color: var(--red-color);
}



.swiper-wrapper{
    grid-gap: 30px;
}

.swiper-slide img{
    width: 100%;
    height: 350px;
    border-radius: 20px;
    margin-bottom: 70px;
}
