/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  background-color: var(--white-color);
  color: var(--black-color);
  /* color: var(--black-color); */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Change background header */
.scroll-header {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/*==================== LAYOUT ====================*/
.container {
  margin-left: 10%;
  margin-right: 10%;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.small__section {
  padding: 8rem 0 8rem;
}
.smaller__section {
  padding: 4rem 0 4rem;
}

.section {
  padding: 6rem 0 2rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--white-gray);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(190, 190, 190);
}

.error__404 {
  display: flex;
  justify-content: center;
  align-items: center;
}
