@import url("https://fonts.googleapis.com/css2?family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --small-font: 15px;
  --big-font: 70px;
  --medium-font: 40px;
  --icon-size: 23px;
  --white-color: #fafafa;
  --white-grey: rgb(244, 244, 244);
  --red-color: #ff5959;
  --button-red-color: #ffe2e2;
  --black-color: black;
  --linear_bg: #ffbcbc;

  --body-font: "Poppins", sans-serif;
}

.light-theme {
  --white-color: #fafafa;
  --black-color: black;
  --red-color: #ff5959;
  --dark-red-color: #dc3535;
  --yellow-color: rgb(255, 191, 0);
  --dark-yellow-color: rgb(238, 179, 0);
  --white-grey: rgb(244, 244, 244);
  --button-red-color: #ffe2e2;
  --linear_bg: #ffbcbc;
  --logo: url(./assets/Logos/light.png);
}

.dark-theme {
  --white-color: rgb(0, 0, 0);
  --black-color: #fafafa;
  --red-color: rgb(255, 191, 0);
  --dark-red-color: rgb(238, 179, 0);
  --yellow-color: #ff5959;
  --dark-yellow-color: #dc3535;
  --white-grey: rgb(13, 12, 12);
  --button-red-color: #484847;
  --linear_bg: #ac8100;
  --logo: url(./assets/Logos/dark.png);
}
