.bg {
  background-color: var(--white-grey);
}
.bg2 {
  background-color: var(--white-color);
}

/* ============================================== DesignGallery =============================== */
.design_gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}
.design__gallery__container {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}

.gallery__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#gallery__search {
  flex: 0 0 150px;
  margin-right: 30px;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

#shot__main__img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.shot_sec {
  display: flex;
  justify-content: space-between;
}

.shot_sec div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shot_sec div img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.shot_sec div p {
  font-size: 13px;
  font-weight: 500;
  margin-left: 5px;
  color: var(--black-color);
}
.shot_sec ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shot_sec ul li {
  font-size: 12px;
  font-weight: 600;
  color: var(--black-color);
  margin-left: 5px;
}
.shot_sec ul li i {
  color: #aeaeae;
}
.shot_sec ul li i:hover {
  color: var(--red-color);
}
