.bg {
  background-color: var(--white-grey);
}
.bg2 {
  background-color: var(--white-color);
}

/* =============================================== Banner ========================================== */
.gallery__banner {
  background-image: url(../../assets/Logos/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 60vh;
}

/* ============================================== DesignGallery =============================== */
.design_gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}
.design__gallery__container {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}

.gallery__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#gallery__search {
  display: flex;
  gap: 1rem;
  flex: 0 0 150px;
  margin-right: 30px;
}
#gallery__search input {
  padding: 0.8rem;
  width: 290px;
  background-color: var(--white-grey);
  border: none;
  border-radius: 5px;
}
/* #gallery__search button {
  background-color: var(--red-color);
  border: none;
  padding: 0 0.7rem;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
#gallery__search button:hover {
  background-color: var(--dark-red-color);
} */

.category__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.category__buttons button {
  background-color: var(--white-grey);
  padding: 0.8rem;
  border-radius: 50px;
  border: none;
  color: var(--black-color);
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
#load__more {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 50px;
  background-color: var(--white-grey);
  color: var(--black-color);
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
#load__more:hover {
  background-color: var(--red-color);
  color: #fff;
}

#shot__main__img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.shot_sec {
  display: flex;
  justify-content: space-between;
}

.shot_sec div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shot_sec div img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.shot_sec div a {
  font-size: 13px;
  font-weight: 500;
  margin-left: 5px;
  color: var(--black-color);
}
.shot_sec ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shot_sec ul li {
  font-size: 12px;
  font-weight: 600;
  color: var(--black-color);
  margin-left: 5px;
}
.shot_sec ul li i {
  color: #aeaeae;
}
.shot_sec ul li i:hover {
  color: var(--red-color);
}
