@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
--small-font: 15px;
--big-font:70px;
--medium-font:40px;
--icon-size: 23px;
--white-color:white;
--white-grey:rgb(248, 248, 248);
}


.light-theme{
--white-color:white;
--black-color:black;
--red-color:#FF5959;
--dark-red-color: #dc3535;
--white-grey:rgb(248, 248, 248);

}


.dark-theme{
--white-color:black;
--black-color:white;
--red-color:#FF5959;
--dark-red-color: #dc3535;
--white-grey:rgb(13, 12, 12);

}


body{
    background-color: var(--white-color);
}

a, li{
    text-decoration: none;
    list-style: none;
    color: var(--black-color);
}

.container{
    padding: 8vw;
}

.content .buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.content .buttons #cancel{
    background: var(--white-color);
    border: 1px solid #B5B5B5;
    border-radius: 10px;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
    color: var(--black-color);
}
.content .buttons #continue{
    font-weight: 500;
    font-size: 15px;
}

.content .upload{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content .upload h2{
    font-weight: 500;
    margin-bottom: 15px;
}
.content .upload .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    border: none;
}
.content .upload .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}
.content .upload .upload_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 40px 70px 40px;
    text-align: center;
    border: dotted 3px rgb(209, 209, 209);
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}
.content .upload .upload_content p{
    font-size: 15px;
    font-weight: 500;
    color: rgb(183, 183, 183);
    box-sizing: border-box;
}
.content .upload .upload_content ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
    margin-top: 16px;
}
.content .upload .upload_content ul li{
    font-family: Haas Grot Text R Web,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    box-sizing: border-box;
    width: 100%;
    padding: 4px 0;
    list-style-position: inside;
    list-style-type: disc;
    color: #6e6d7a;
    text-align: left;
    margin-left: 20px;
}