.narve-bar {
  position: fixed;
  display: grid;
  grid-template-columns: 430px 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  padding: 15px 10%;
  width: 100%;
  z-index: 9;
}
.nav__toggle {
  display: none;
}
.logo h2 {
  cursor: pointer;
  font-size: 20px;
  color: var(--red-color);
}
.nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__close {
  display: none;
}
.narv_ul {
  display: flex;
  gap: 1.5rem;
}
.narv_ul li {
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  color: var(--black-color);
  font-weight: 600;
}
.narve_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.narve_right a {
  color: var(--black-color);
  font-weight: 600;
}
.narve_right a button {
  padding: 13px 20px;
  color: white;
  background-color: var(--red-color);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}
.narve_right button:hover {
  background-color: var(--dark-red-color);
  transition: all ease-in-out 0.5s;
}
.uil-search,
.uil-shopping-cart,
.uil-moon {
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--black-color);
}
@media screen and (max-width: 426px) {
  .nav__toggle {
    display: block;
    color: var(--black-color);
    font-size: 20px;
  }
  .narve-bar {
    position: fixed;
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    padding: 15px 5%;
    width: 100%;
    z-index: 9;
  }
  .nav__menu {
    display: block;
  }
  .nav__menu {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 112vh;
    padding: 5% 0 0 5%;
    background-color: var(--white-color);
  }
  .remove-menu {
    left: 100%;
  }
  .nav__close {
    display: block;
    font-size: 25px;
    color: var(--black-color);
  }
  .narv_ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 6rem 0 4rem;
  }
  .narv_ul li {
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    color: var(--black-color);
    font-weight: 600;
  }
  .narve_right {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 427px) and (max-width: 769px) {
  .narve-bar {
    position: fixed;
    display: grid;
    grid-template-columns: 180px 1fr;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    padding: 15px 7%;
    width: 100%;
    z-index: 9;
  }
  .nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .narve-bar {
    position: fixed;
    display: grid;
    grid-template-columns: 300px 1fr;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    padding: 15px 10%;
    width: 100%;
    z-index: 9;
  }
  .nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}
