.bg {
  background-color: var(--white-grey);
}
.bg2 {
  background-color: var(--white-color);
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
}

.first_section .links {
  padding: 35px;
  margin-bottom: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.first_section .links h2 {
  margin-bottom: 15px;
  color: var(--black-color);
}
.first_section .links ul li {
  color: rgb(170, 170, 170);
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
}
.first_section .links ul li i {
  color: var(--red-color);
  font-size: 20px;
  margin-right: 5px;
}

.first_section .open_hours {
  padding: 35px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.first_section .open_hours h2 {
  margin-bottom: 15px;
  color: var(--black-color);
}
.first_section .open_hours ul li {
  color: rgb(170, 170, 170);
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
}
.first_section .open_hours ul li span {
  color: rgb(92, 92, 92);
  font-weight: 600;
}

.second_section form {
  width: 100%;
  height: 100%;
  padding: 35px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.second_section form h2 {
  margin-bottom: 15px;
  color: var(--black-color);
}
.second_section form label {
  font-weight: 500;
  font-size: 14px;
  color: rgb(170, 170, 170);
}
.second_section form input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  border: none;
  margin-bottom: 15px;
  margin-top: 10px;
  background-color: var(--white-grey);
  color: var(--black-color);
}
.second_section form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  border: none;
  margin-bottom: 15px;
  margin-top: 10px;
  background-color: var(--white-grey);
  color: var(--black-color);
}
.second_section form button {
  padding: 10px;
  width: 20%;
  border-radius: 10px;
  border: none;
  background-color: var(--red-color);
  color: #fff;
  font-weight: 600;
  transition: 0.2s;
}
.second_section form button:hover {
  background-color: var(--dark-red-color);
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .container .contact {
    grid-template-columns: 1fr;
  }

  .first_section .links h2 {
    font-size: 16px;
  }
  .first_section .links ul li {
    font-size: 10px;
  }
  .first_section .links ul li i {
    font-size: 15px;
  }

  .first_section .open_hours h2 {
    font-size: 16px;
  }
  .first_section .open_hours ul li {
    font-size: 10px;
  }

  .second_section form h2 {
    font-size: 16px;
  }
  .second_section form label {
    font-size: 10px;
  }
  .second_section form button {
    width: 30%;
  }
}

@media screen and (max-width: 425px) {
  .container .contact {
    grid-template-columns: 1fr;
  }
}
