.light-theme {
  --linear_bg: #ffbcbc;
}
.dark-theme {
  --linear_bg: #ac8100;
}
.bg {
  background-color: var(--white-grey);
}
.bg2 {
  background-color: var(--white-color);
}
.bg3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background: url(../../assets/Logos/about\ Banner.jpg), rgba(6, 6, 6, 0.4);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.linear_bg {
  background: linear-gradient(
    180deg,
    var(--white-color) 0%,
    var(--linear_bg) 466.72%
  );
}

/* ============================================= About Head ================================= */
.about_head_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: var(--black-color);
}
.about_head_container h3 {
  font-size: 1rem;
  color: var(--red-color);
  font-weight: 600;
  margin-bottom: 15px;
}
.about_head_container h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  width: 70%;
  margin-bottom: 10px;
}
.about_head_container p {
  font-size: 1rem;
  color: #fff;
}

/* ============================================ Trusted By ========================================== */
.trusted_by {
  display: grid;
  grid-auto-columns: -webkit-min-content;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.trusted_by p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--black-color);
}
.icon {
  color: var(--black-color);
}

/* ============================================ Goal and Number ========================================== */
.goal_and_nubmer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.goal_and_nubmer_left {
  width: 100%;
}
.goal_and_nubmer_left h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--black-color);
}
.goal_and_nubmer_left h2 span {
  color: var(--red-color);
  font-weight: 500;
}
.goal_and_nubmer_left #p1 {
  margin-bottom: 10px;
  color: var(--black-color);
}

.css-4juikq {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 8px;
  gap: 0.3rem;
}
.css-4juikq i {
  font-weight: 600;
  font-size: 1rem;
  color: var(--red-color);
}
.css-1d452j3 {
  margin: 0px 0px 0px 12px;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0px;
  color: var(--black-color);
  font-weight: 600;
}

.goal_and_nubmer_right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 1rem;
  padding-left: 27px;
}
.goal_and_nubmer_right div {
  padding-left: 27px;
  border-left: 1px solid var(--red-color);
}
.goal_and_nubmer_right div h2 {
  color: var(--red-color);
}
.goal_and_nubmer_right div p {
  color: var(--black-color);
}

/* ============================================ Testimonials ========================================== */
.testimonies__container {
  width: 100%;
}
.testimonies__container h2 {
  font-weight: 400;
  font-size: 2.3rem;
  margin-bottom: 2rem;
  color: var(--black-color);
}
.testimonies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.testimony {
  padding: 1.5rem;
  border-radius: 15px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  height: fit-content;
}
.testimony:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  background-color: var(--red-color);
  color: #fff;
}
#comment {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.testimony__user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.testimony__user img {
  width: 50px;
  border-radius: 10px;
}
.testimony__user p {
  font-weight: 500;
  font-size: 0.9rem;
}

/* ============================================ Advertise ========================================== */
.advertise__container {
  width: 100%;
  color: var(--black-color);
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
#advertise__head {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
#advertise__head h2 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: -1.5px;
  width: 70%;
}

.advert {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
}
.advert__content {
  width: 100%;
}
.advert__content h2 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 22px;
}
.advert__content p {
  margin-bottom: 20px;
}
.advert__content button {
  padding: 1rem 1.5rem;
  border-radius: 40px;
  background-color: var(--red-color);
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.5s;
}
.advert__content button:hover {
  background-color: var(--dark-red-color);
}
.ads {
  display: grid;
  width: 100%;
}
.ad {
  position: relative;
}
.ad video,
img {
  width: 100%;
  border-radius: 10px;
}
.ad video {
  position: absolute;
  overflow: hidden;
}

/* ============================================ Why Advertise With us ========================================== */
.why-advertise_container {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  color: var(--black-color);
}

.why-advertise__content {
  width: 100%;
}
.why-advertise__content h2 {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: -1.5px;
  margin-bottom: 15px;
}
.why-advertise__content p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.why-advertise_line {
  align-self: stretch;
  background-color: var(--black-color, #e7e7e9);
  flex: 0 0 auto;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 1px;
}

.why-advertise__numbers {
  width: 60%;
}
.why_advertise {
  margin-bottom: 20px;
}
.why_advertise h2 {
  font-weight: 500;
}
.why_advertise p {
  font-size: 0.9rem;
}

/* ========================================================= Advert Details ===================================== */
.advertisement__details {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 32px;
  height: 469px;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  scroll-margin-top: 60px;
  width: 100%;
}

.advertisement__details__head {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  max-width: 800px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
.advertisement__details__head h2 {
  font-weight: 500;
  color: var(--black-color);
}
.advertisement__details__head p {
  width: 90%;
  text-align: center;
  color: var(--black-color);
}

.advertisement__details__form {
  flex: 1 0 0px;
  height: 1px;
  max-width: 600px;
  position: relative;
  width: 100%;
}

.advertisement__details__form__inner {
  height: 100%;
  max-width: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  --framer-formspark-placeholder-color: rgba(0, 0, 0, 0.5);
}
form {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 1fr;
  gap: 16px;
  width: 100%;
  height: 100%;
}
.form__input {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  gap: 16px;
}
.form__input input {
  display: inline-block;
  width: 100%;
  line-height: 1.4em;
  outline: none;
  border: none;
  padding: 15px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 15px;
  background: var(
      --token-eb13911e-0e46-45df-b063-ffd9f17aeac1,
      rgb(243, 243, 244)
    )
    /* {"name":"Gray / 6"} */;
  color: var(--black-color);
  box-shadow: inset 0 0 0 1px transparent;
}
form textarea {
  display: inline-block;
  width: 100%;
  line-height: 1.4em;
  outline: none;
  border: none;
  min-height: 0;
  padding: 15px;
  resize: vertical;
  border-radius: 12px;
  background: var(
      --token-eb13911e-0e46-45df-b063-ffd9f17aeac1,
      rgb(243, 243, 244)
    )
    /* {"name":"Gray / 6"} */;
  font-weight: 400;
  font-size: 15px;
  color: rgb(0, 0, 0);
  box-shadow: inset 0 0 0 1px transparent;
  height: 300px;
}
#advertisement__details__submit input {
  display: inline-block;
  width: 100%;
  line-height: 1.4em;
  outline: none;
  border: none;
  border-radius: 12px;
  padding: 15px;
  font-weight: 600;
  font-size: 15px;
  background: var(--red-color) /* {"name":"Gray / 1"} */;
  cursor: pointer;
  color: rgb(255, 255, 255);
  z-index: 1;
}

@media screen and (max-width: 426px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
  .small__section {
    padding: 6rem 0 4rem;
  }
  /* ============================================= About Head ================================= */
  .about_head_container h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    width: 90%;
    margin-bottom: 10px;
  }
  .about_head_container p {
    font-size: 0.8rem;
    color: #fff;
  }

  /* ============================================ Trusted By ========================================== */
  .trusted_by {
    display: grid;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr 1fr;
    row-gap: 44px;
    justify-items: center;
    max-width: 340px;
    grid-auto-columns: 0;
    grid-auto-flow: row;
  }
  #dont_show {
    display: none;
  }

  /* ============================================ Goal and Number ========================================== */
  .goal_and_nubmer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  /* ============================================ Testimonials ========================================== */
  .testimonies__container h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--black-color);
  }
  .testimonies {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  /* ============================================ Advertise ========================================== */
  #advertise__head {
    display: block;
    margin-bottom: 0;
  }
  #advertise__head h2 {
    font-size: 1.8rem;
    text-align: left;
    font-weight: 500;
    letter-spacing: -1.5px;
    width: 100%;
    margin-bottom: 0;
  }
  .advert {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
  .advert__content h2 {
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 22px;
    line-height: 2.3rem;
    width: 100%;
  }
  .ads {
    display: grid;
    width: 100%;
  }

  /* ============================================ Why Advertise With us ========================================== */
  .why-advertise_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    color: var(--black-color);
  }
  .why-advertise_line {
    display: none;
  }
  .why-advertise__numbers {
    width: 100%;
  }

  /* ========================================================= Advert Details ===================================== */
  .advertisement__details__head h2 {
    font-weight: 500;
    color: var(--black-color);
    font-size: 1.4rem;
  }
  form textarea {
    display: inline-block;
    width: 100%;
    line-height: 1.4em;
    outline: none;
    border: none;
    height: 150px;
    min-height: 0;
    padding: 15px;
    resize: vertical;
    border-radius: 12px;
    background: var(
        --token-eb13911e-0e46-45df-b063-ffd9f17aeac1,
        rgb(243, 243, 244)
      )
      /* {"name":"Gray / 6"} */;
    font-weight: 400;
    font-size: 14px;
    color: rgb(0, 0, 0);
    box-shadow: inset 0 0 0 1px transparent;
    height: 300px;
  }
}

@media screen and (min-width: 427px) and (max-width: 769px) {
  .container {
    margin-left: 6%;
    margin-right: 6%;
  }
  .small__section {
    padding: 6rem 0 4rem;
  }

  /* ============================================ Trusted By ========================================== */
  #dont_show {
    display: none;
  }

  /* ============================================= About Head ================================= */
  .about_head_container h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    width: 90%;
    margin-bottom: 10px;
  }

  /* ============================================ Goal and Number ========================================== */
  .goal_and_nubmer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  /* ============================================ Testimonials ========================================== */
  .testimonies__container h2 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--black-color);
  }
  .testimonies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  /* ============================================ Advertise ========================================== */
  #advertise__head h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: -1.5px;
    width: 90%;
    margin-bottom: 20px;
  }

  #advertise__head h2 {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: -1.5px;
    width: 100%;
    margin-bottom: 20px;
  }
  .advert {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
  .advert__content h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 22px;
    line-height: 2.3rem;
  }
  .ads {
    display: grid;
    width: 100%;
  }

  /* ============================================ Why Advertise With us ========================================== */
  .why-advertise_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    color: var(--black-color);
  }
  .why-advertise_line {
    display: none;
  }
  .why-advertise__numbers {
    width: 100%;
  }

  form textarea {
    height: 300px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    margin-left: 8%;
    margin-right: 8%;
  }
  .small__section {
    padding: 6rem 0 4rem;
  }

  /* ============================================ Trusted By ========================================== */
  #dont_show {
    display: none;
  }

  /* ============================================ Goal and Number ========================================== */
  .goal_and_nubmer_left {
    flex: 2;
    width: 100%;
  }

  .goal_and_nubmer_right {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 1rem;
    padding-left: 27px;
  }

  /* ============================================ Testimonials ========================================== */
  .testimonies__container h2 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--black-color);
  }
  .testimonies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  /* ============================================ Advertise ========================================== */
  #advertise__head h2 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: -1.5px;
    width: 100%;
    margin-bottom: 20px;
  }

  .advert {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
  .advert__content h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 22px;
  }
  .ads {
    display: grid;
    width: 100%;
  }

  form textarea {
    height: 300px;
  }
}
